
# Normal directories to ignore
.vscode/
__pycache__/

# Virtual envoiroment
moveo_software/TLBXvenv/
TLBXvenv/

#Debuging and testing files-directories
moveo_software/LTraj_files/
moveo_software/test_calcDist.py
moveo_software/test_*
moveo_driver/test_*
moveo_firmware/test_*
test_*
